<div>
    <br><br>
    {{header}}

    <br><br>
    <form #registroForm="ngForm" (ngSubmit)="onSubmit()">
        <table>
            <tr>
                <td>RUT</td>
                <td><input type="text" name="rut" #rut="ngModel" [(ngModel)]="paciente.rut" required/></td>
                <small *ngIf="!rut.valid && rut.touched">Rut es obligatorio</small>
            </tr>

            <tr>
                <td>NOMBRE</td>
                <td><input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="paciente.nombre" required/></td>
                <small *ngIf="!nombre.valid && nombre.touched">Nombre es obligatorio</small>
            </tr>

            <tr>
                <td>EDAD</td>
                <td><input type="text" name="edad" #edad="ngModel" [(ngModel)]="paciente.edad" required/></td>
                <small *ngIf="!edad.valid && edad.touched">Edad es Obligatoria</small>
            </tr>

            <tr>
                <td>SEXO</td>
                <td><input type="text" name="sexo" #sexo="ngModel" [(ngModel)]="paciente.sexo" required/></td>
                <small *ngIf="!sexo.valid && sexo.touched">Fullname is neccessary</small>
            </tr>

            <tr>
                <td>Photo</td>
                <td><angular-file-uploader [config]="afuConfig" (ApiResponse)="uploadFile($event)"></angular-file-uploader></td>
            </tr>

            <tr>
                <td>Enfermedad</td>
                <td><input type="text" name="enferemedad" #enfermedad="ngModel" [(ngModel)]="paciente.enfermedad" required/></td>
                <small *ngIf="!enfermedad.valid && enfermedad.touched">Enfermedad</small>
            </tr>
            
            <tr>
                <td><input type="submit" value="Save" [disabled]="registroForm.invalid"/></td>
            </tr>
        </table>
    </form>
</div>