<div>
    {{header}}
    <form #userForm="ngForm" (ngSubmit)="onSubmit()">
        <table>
            <tr>
                <td>Fullname</td>
                <td><input type="text" name="fullname" #fullname="ngModel" [(ngModel)]="user.fullname" required/></td>
                <small *ngIf="!fullname.valid && fullname.touched">Fullname is neccessary</small>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="text" name="email" #email="ngModel" [(ngModel)]="user.email" required/></td>
                <small *ngIf="!email.valid && email.touched">Email is neccessary</small>
            </tr>
            <tr>
                <td>Photo</td>
                <td><angular-file-uploader [config]="afuConfig" (ApiResponse)="uploadFile($event)"></angular-file-uploader></td>
            </tr>
            <tr>
                <td><input type="submit" value="Save" [disabled]="userForm.invalid"/></td>
            </tr>
        </table>
    </form>
</div>