<div>
    <table *ngIf="user">
        <tr>
            <td>ID</td>
            <td>{{user._id}}</td>
        </tr>
        <tr>
            <td>Fullname</td>
            <td>{{user.fullname}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{user.email}}</td>
        </tr>
        <tr>
            <td>Created at</td>
            <td>{{user.createdAt}}</td>
        </tr>
        <tr>
            <td>Account state</td>
            <div *ngIf="user.active; then active else inactive"></div>
            <ng-template #active><td>active</td></ng-template>
            <ng-template #inactive><td>inactive</td></ng-template>
        </tr>
        <tr>
            <td><img src="{{this.url+'/user/photo/'+user.photo}}" *ngIf="user.photo"  height="100px"/></td>
            <td><img src="{{this.imgDefault}}" *ngIf="!user.photo" width="100px" height="100px"/></td>
        </tr>
        <tr>
            <td><a [routerLink]="['/user/update/', user._id]">Update</a></td>
            <td><a (click)="deleteUserById(user._id)">Delete</a></td>
        </tr>
    </table>
</div>